html
  head

    title=checkers
    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/jquery/jquery.js")
      script(src="/tabulator/js/tabulator.min.js")
      script(src="javascripts/checkersClient.js")
      link(href="/tabulator/css/tabulator.min.css" rel="stylesheet")
 
  body
    block body