html
  head

    title=checkers
    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/jquery/jquery.js")
      script(src="javascripts/checkersClient.js")
 
  body
    block body