<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>
  <div>
    <h3>Login to checkers Web Page</h3>
</div>

<form action="/login" method="POST">
   <div>
       <label>User name:</label>
       <input type="text" name="username">
   </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">

    </div>
   
    <button name="Login">Login</button>
    <button name="Cancel">Cancel</button>
</form>>
</body>

</html>