html
  head
    title Registration
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/checkersClient.js')
    script(src="/jquery/jquery.js")
  body
    div
      h3 checkers Web Page - Registration

    .errorDiv
      if(error)
          for err in error
            p #{err}
      if(userError)
        p #{error}

    form(action='/register', method='POST' autocomplete="off")
      div
        label Last name:
        input(type='text', name='lastName')
      div
        label First name:
        input(type='text', name='firstName')
      div
        label Email:
        input(type='text', name='email')
      div
        label Password
        input(type='password', name='password',autocomplete='off')

      input(type='hidden' name='_csrf' value= csrfToken)
      button(name='Register') Register
      
